.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #319861 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #319861 !important;
  border-color: #319861 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #1c5637 !important;
  border-color: #1c5637 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1c5637 !important;
  border-color: #1c5637 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e3c107 !important;
  border-color: #e3c107 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #8f7904 !important;
  border-color: #8f7904 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8f7904 !important;
  border-color: #8f7904 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #319861;
  color: #319861;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #1c5637 !important;
  background-color: transparent!important;
  border-color: #1c5637 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #319861 !important;
  border-color: #319861 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e3c107;
  color: #e3c107;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #8f7904 !important;
  background-color: transparent!important;
  border-color: #8f7904 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e3c107 !important;
  border-color: #e3c107 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #319861 !important;
}
.text-secondary {
  color: #e3c107 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #184b30 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #806d04 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #319861;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #319861;
  border-color: #319861;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #319861;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #76d3a1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #319861 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.625rem;
}
blockquote {
  border-color: #319861;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #319861;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #319861;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #319861;
  border-bottom-color: #319861;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #319861 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e3c107 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23319861' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sXlCgEFkNt {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sXlCgEFkNt nav.navbar {
  position: fixed;
}
.cid-sXlCgEFkNt .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sXlCgEFkNt .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sXlCgEFkNt .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sXlCgEFkNt .dropdown-item:hover,
.cid-sXlCgEFkNt .dropdown-item:focus {
  background: #319861 !important;
  color: white !important;
}
.cid-sXlCgEFkNt .dropdown-item:hover span {
  color: white;
}
.cid-sXlCgEFkNt .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sXlCgEFkNt .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sXlCgEFkNt .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sXlCgEFkNt .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sXlCgEFkNt .nav-link {
  position: relative;
}
.cid-sXlCgEFkNt .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sXlCgEFkNt .container {
    flex-wrap: nowrap;
  }
}
.cid-sXlCgEFkNt .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sXlCgEFkNt .dropdown-menu,
.cid-sXlCgEFkNt .navbar.opened {
  background: #ffffff !important;
}
.cid-sXlCgEFkNt .nav-item:focus,
.cid-sXlCgEFkNt .nav-link:focus {
  outline: none;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sXlCgEFkNt .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sXlCgEFkNt .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sXlCgEFkNt .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sXlCgEFkNt .navbar.opened {
  transition: all 0.3s;
}
.cid-sXlCgEFkNt .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sXlCgEFkNt .navbar .navbar-logo img {
  width: auto;
}
.cid-sXlCgEFkNt .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sXlCgEFkNt .navbar.collapsed {
  justify-content: center;
}
.cid-sXlCgEFkNt .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sXlCgEFkNt .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sXlCgEFkNt .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sXlCgEFkNt .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sXlCgEFkNt .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sXlCgEFkNt .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sXlCgEFkNt .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sXlCgEFkNt .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sXlCgEFkNt .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sXlCgEFkNt .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sXlCgEFkNt .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sXlCgEFkNt .navbar.navbar-short {
  min-height: 60px;
}
.cid-sXlCgEFkNt .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sXlCgEFkNt .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sXlCgEFkNt .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sXlCgEFkNt .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sXlCgEFkNt .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sXlCgEFkNt .dropdown-item.active,
.cid-sXlCgEFkNt .dropdown-item:active {
  background-color: transparent;
}
.cid-sXlCgEFkNt .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sXlCgEFkNt .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sXlCgEFkNt .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sXlCgEFkNt .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sXlCgEFkNt .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sXlCgEFkNt .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sXlCgEFkNt ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sXlCgEFkNt .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sXlCgEFkNt button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sXlCgEFkNt a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sXlCgEFkNt .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sXlCgEFkNt .navbar {
    height: 70px;
  }
  .cid-sXlCgEFkNt .navbar.opened {
    height: auto;
  }
  .cid-sXlCgEFkNt .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sXfRkjspn9 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sXfRkjspn9 .oldcost {
  text-decoration: line-through;
  color: #353535;
  text-align: center;
}
.cid-sXfRkjspn9 .currentcost {
  color: #319861;
  text-align: left;
}
.cid-sXfRkjspn9 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-sXfRkjspn9 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sXfRkjspn9 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sXfRkjspn9 .text-box {
    padding: 1rem;
  }
}
.cid-sXfRkjspn9 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sXfRkjspn9 H5 {
  color: #319861;
  text-align: center;
}
.cid-sXfRkjspn9 .mbr-text,
.cid-sXfRkjspn9 .cost,
.cid-sXfRkjspn9 .mbr-section-btn {
  text-align: center;
  color: #353535;
}
.cid-sXfRkjspn9 .currentcost P {
  text-align: center;
}
.cid-sXfRkjspn9 DIV {
  text-align: left;
}
.cid-t0K1fGuUuA {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-t0K1fGuUuA .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-t0K1fGuUuA .row {
  flex-direction: row-reverse;
}
.cid-t0K1fGuUuA img {
  width: 100%;
}
.cid-tbgkQylCkP {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tbgkQylCkP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbgkQylCkP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbgkQylCkP .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 570px;
  max-width: 570px;
}
@media (max-width: 768px) {
  .cid-tbgkQylCkP .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tbgkQylCkP .embla__button--next,
.cid-tbgkQylCkP .embla__button--prev {
  display: flex;
}
.cid-tbgkQylCkP .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tbgkQylCkP .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tbgkQylCkP .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tbgkQylCkP .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tbgkQylCkP .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .cid-tbgkQylCkP .embla__button {
    top: auto;
  }
}
.cid-tbgkQylCkP .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-tbgkQylCkP .user_image .item-wrapper {
  width: 200px;
  height: 200px;
}
.cid-tbgkQylCkP .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-tbgkQylCkP .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-tbgkQylCkP .embla {
  position: relative;
  width: 100%;
}
.cid-tbgkQylCkP .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tbgkQylCkP .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tbgkQylCkP .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tbgkQylCkP .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tbgkQylCkP .user_desk {
  color: #12d100;
}
.cid-tbgkQylCkP H3 {
  color: #319861;
}
.cid-tbgkQylCkP .user_name {
  color: #503416;
}
.cid-tbzcUj7TjQ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fef9e5;
}
.cid-tbzcUj7TjQ .mbr-text {
  color: #000000;
}
.cid-tbzcUj7TjQ .mbr-section-subtitle {
  color: #319861;
}
.cid-sXfx2SZUHn {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sXfx2SZUHn img,
.cid-sXfx2SZUHn .item-img {
  width: 100%;
}
.cid-sXfx2SZUHn .item:focus,
.cid-sXfx2SZUHn span:focus {
  outline: none;
}
.cid-sXfx2SZUHn .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sXfx2SZUHn .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sXfx2SZUHn .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sXfx2SZUHn .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sXfx2SZUHn .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sXfx2SZUHn .mbr-section-title {
  color: #319861;
}
.cid-sXfx2SZUHn .mbr-text,
.cid-sXfx2SZUHn .mbr-section-btn {
  text-align: left;
}
.cid-sXfx2SZUHn .item-title {
  text-align: center;
  color: #319861;
}
.cid-sXfx2SZUHn .item-subtitle {
  text-align: center;
}
.cid-t5tT9I6F1Q {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fef9e5;
}
.cid-t5tT9I6F1Q .mbr-section-subtitle {
  color: #319861;
  text-align: left;
}
.cid-t5tT9I6F1Q .mbr-text {
  color: #000000;
}
.cid-tbl49AAraS {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tbl49AAraS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbl49AAraS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbl49AAraS .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tbl49AAraS .card {
    margin-bottom: 2rem!important;
  }
  .cid-tbl49AAraS .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tbl49AAraS .link-wrap {
    align-items: center;
  }
}
.cid-tbl49AAraS .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tbl49AAraS .card-title,
.cid-tbl49AAraS .card-box {
  color: #319861;
}
.cid-tbl49AAraS .mbr-text,
.cid-tbl49AAraS .link-wrap,
.cid-tbl49AAraS .mbr-section-btn {
  color: #000000;
}
.cid-tblamtGvb1 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tblamtGvb1 blockquote {
  border-color: #319861;
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-tblamtGvb1 .mbr-section-title {
  color: #319861;
}
.cid-tblamtGvb1 .mbr-text {
  color: #232323;
}
.cid-tbzJsD7yU5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-tbzJsD7yU5 .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-tbzJsD7yU5 .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-tbzJsD7yU5 .counter-container ol li {
  list-style: none;
  padding-left: 1rem;
  position: relative;
}
.cid-tbzJsD7yU5 .counter-container ol li:before {
  position: absolute;
  left: -40px;
  margin-top: 5px;
  counter-increment: myCounter;
  content: counter(myCounter);
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #319861;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tbzJsD7yU5 .mbr-section-title {
  text-align: center;
  color: #319861;
}
.cid-tbzJsD7yU5 .mbr-text {
  color: #262626;
}
.cid-tdCfIGhaGK {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tdCfIGhaGK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tdCfIGhaGK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tdCfIGhaGK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tdCfIGhaGK .row {
  flex-direction: row-reverse;
}
.cid-tdCfIGhaGK img {
  width: 100%;
}
.cid-tbf89HIJCd {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tbf89HIJCd .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tbf89HIJCd .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tbf89HIJCd .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #319861;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tbf89HIJCd .mbr-section-title {
  color: #319861;
}
.cid-tbf89HIJCd .mbr-text {
  color: #353535;
}
.cid-tbf89HIJCd .mbr-text UL {
  text-align: left;
}
.cid-sXfJZJ0Ur6 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-sXfJZJ0Ur6 .text-wrapper {
    padding: 2rem;
  }
}
.cid-sXfJZJ0Ur6 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-sXfJZJ0Ur6 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sXfJZJ0Ur6 .mbr-text {
  color: #262626;
  text-align: left;
}
.cid-sXfJZJ0Ur6 .mbr-section-title {
  color: #319861;
  text-align: center;
}
.cid-t3nJ22uDnG {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-t3nJ22uDnG img,
.cid-t3nJ22uDnG .item-img {
  height: 100%;
  object-fit: cover;
}
.cid-t3nJ22uDnG .item:focus,
.cid-t3nJ22uDnG span:focus {
  outline: none;
}
.cid-t3nJ22uDnG .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-t3nJ22uDnG .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-t3nJ22uDnG .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-t3nJ22uDnG .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-t3nJ22uDnG .mbr-section-btn {
  margin-top: auto !important;
}
.cid-t3nJ22uDnG .mbr-section-title {
  color: #319861;
}
.cid-t3nJ22uDnG .mbr-text,
.cid-t3nJ22uDnG .mbr-section-btn {
  text-align: center;
}
.cid-t3nJ22uDnG .item-title {
  text-align: center;
}
.cid-t3nJ22uDnG .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-t3nJ22uDnG .mbr-section-subtitle {
  color: #353535;
}
.cid-t4jmO0S6Hm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-t4jmO0S6Hm .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-t4jmO0S6Hm .row {
  flex-direction: row-reverse;
}
.cid-t4jmO0S6Hm img {
  width: 100%;
}
.cid-t04Uo03lCh {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t04Uo03lCh .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #319861;
  margin-left: 1rem;
}
.cid-t04Uo03lCh .panel-group {
  border: none;
}
.cid-t04Uo03lCh .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-t04Uo03lCh .panel-body,
.cid-t04Uo03lCh .card-header {
  padding: 1rem 0;
}
.cid-t04Uo03lCh .panel-title-edit {
  color: #232323;
}
.cid-t04Uo03lCh .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-t04Uo03lCh H3 {
  color: #319861;
}
.cid-t04Uo03lCh .panel-title-edit DIV {
  text-align: center;
}
.cid-tbCVUVcTy0 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tbCVUVcTy0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbCVUVcTy0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tbCVUVcTy0 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tbCVUVcTy0 .row {
  flex-direction: row-reverse;
}
.cid-tbCVUVcTy0 img {
  width: 100%;
}
.cid-sZnL7ymYQI {
  padding-top: 2rem;
  padding-bottom: 9rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sZnL7ymYQI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sZnL7ymYQI .row {
  flex-direction: row-reverse;
}
.cid-sZnL7ymYQI img {
  width: 100%;
}
.cid-sXlDnbI2fy {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #353535;
}
.cid-sXlDnbI2fy .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sXlDnbI2fy .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sXlDnbI2fy .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sXlDnbI2fy .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sXlDnbI2fy .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sXlDnbI2fy .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sXlDnbI2fy .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sXlDnbI2fy .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sXlDnbI2fy .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sXlDnbI2fy .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sXlDnbI2fy .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sXlDnbI2fy .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sXlDnbI2fy .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sXlDnbI2fy .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-t17Q8miv8Q {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IZNmgY0 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IZNmgY0 .mbr-section-title {
  text-align: center;
}
.cid-t17Iy0Hael {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17Iy0Hael .mbr-section-title {
  text-align: left;
}
.cid-t17Iy0Hael .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-t17Iy0Hael .mbr-section-subtitle {
  text-align: left;
}
.cid-t17IBjPvwX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IBjPvwX .mbr-section-title {
  text-align: left;
}
.cid-t17IBjPvwX .mbr-section-subtitle {
  text-align: left;
}
.cid-t17IC3IThA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IC3IThA .mbr-section-title {
  text-align: left;
}
.cid-t17IC3IThA .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-t17IC3IThA .mbr-section-subtitle {
  text-align: left;
}
.cid-t17ICqEB14 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17ICqEB14 .mbr-section-title {
  text-align: left;
}
.cid-t17ICqEB14 .mbr-section-subtitle {
  text-align: left;
}
.cid-t17IEQjlf6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IEQjlf6 .mbr-section-title {
  text-align: left;
}
.cid-t17IEQjlf6 .mbr-section-subtitle {
  text-align: left;
}
.cid-t17IEAB2QB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IEAB2QB .mbr-section-title {
  text-align: left;
}
.cid-t17IEAB2QB .mbr-section-subtitle {
  text-align: left;
}
.cid-t17ICIGSbE {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17ICIGSbE .mbr-section-title {
  text-align: left;
}
.cid-t17ICIGSbE .mbr-section-subtitle {
  text-align: left;
}
.cid-t17ID3HA5t {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17ID3HA5t .mbr-section-title {
  text-align: left;
}
.cid-t17ID3HA5t .mbr-section-subtitle {
  text-align: left;
}
.cid-t17IE3jQCo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IE3jQCo .mbr-section-title {
  text-align: left;
}
.cid-t17IE3jQCo .mbr-section-subtitle {
  text-align: left;
}
.cid-t17IDB92ie {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17IDB92ie .mbr-section-title {
  text-align: left;
}
.cid-t17IDB92ie .mbr-section-subtitle {
  text-align: left;
}
.cid-t17MFUQuyt {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17MFUQuyt .mbr-section-title {
  text-align: left;
}
.cid-t17MFUQuyt .mbr-section-subtitle {
  text-align: left;
}
.cid-t17MHyOsYl {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17MHyOsYl .mbr-section-title {
  text-align: left;
}
.cid-t17MHyOsYl .mbr-section-subtitle {
  text-align: left;
}
.cid-t17MH08Aze {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17MH08Aze .mbr-section-title {
  text-align: left;
}
.cid-t17MH08Aze .mbr-section-subtitle {
  text-align: left;
}
.cid-t17PDp8jOm {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJjPd3h {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJjPd3h .mbr-section-title {
  text-align: center;
}
.cid-t17NJkyhuB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJkyhuB .mbr-section-title {
  text-align: left;
}
.cid-t17NJkyhuB .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-t17NJkyhuB .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJl9QEp {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJl9QEp .mbr-section-title {
  text-align: left;
}
.cid-t17NJl9QEp .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJlIJCj {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJlIJCj .mbr-section-title {
  text-align: left;
}
.cid-t17NJlIJCj .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-t17NJlIJCj .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJmfHeQ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJmfHeQ .mbr-section-title {
  text-align: left;
}
.cid-t17NJmfHeQ .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJmGy7W {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJmGy7W .mbr-section-title {
  text-align: left;
}
.cid-t17NJmGy7W .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJn5KMK {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJn5KMK .mbr-section-title {
  text-align: left;
}
.cid-t17NJn5KMK .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJnB0Jw {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJnB0Jw .mbr-section-title {
  text-align: left;
}
.cid-t17NJnB0Jw .mbr-section-subtitle {
  text-align: left;
}
.cid-t17NJnZ1dc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17NJnZ1dc .mbr-section-title {
  text-align: left;
}
.cid-t17NJnZ1dc .mbr-section-subtitle {
  text-align: left;
}
.cid-t17PWn9VZ4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17OSJPg53 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t17OSJPg53 .mbr-section-title {
  text-align: center;
}
.cid-tbgk94bZmK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tbgk94bZmK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbgk94bZmK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tbgk94bZmK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tbgk94bZmK .row {
  flex-direction: row-reverse;
}
.cid-tbgk94bZmK img {
  width: 100%;
}
